{% extends "base.html" %}

{% block content %}
<p>Copier-coller les infos depuis un tableur ou depuis un fichier CSV (comme dans l'exemple ci-dessous). Le seul pré-requis est que votre tableau comporte 4 colonnes obligatoires intitulées précisément : <strong>Relais Couleur Cotation Ouvreur</strong></p>
<p>Une colonne optionnelle <strong>Commentaire</strong> peut être ajoutée pour afficher un commentaire en italique sous le nom de l'ouvreur (par exemple pour indiquer une consigne "Sans arrête", le nom de la voie ou la date d'ouverture).</p>
<p>Le fichier PDF généré comporte une page par relais. Pour les voies marbrées, suivez-bien la nomenclature dans mon exemple (cela génère un dégradé de couleur 🤩) :</p>
<pre>MARBREE ( COULEUR1 / COULEUR2 / ... )</pre>
<p><a href="colors">Liste des couleurs reconnues</a></p>

<form action="." method="post">
    <div>
        <textarea id="textarea" name="message" rows="14" required>
Relais,Couleur,Cotation,Ouvreur,Commentaire
1,BLEUE,4b,MAT
1,VIOLETTE,6b,SOLVEIG
1,MARBREE (JAUNE / NOIRE),5a+,MAT
1,MARBREE (VERTE/ BLANCHE),6b+,MAT
2,ROUGE,6a+,MAT,Sans arrête
2,ORANGE,4c,MAT
2,VERTE,5b,SOLVEIG
2,JAUNE,5c,MANU
3,BLANCHE,6a,TANGUY
3,MAUVE,6b,MAT
3,JAUNE FLUO,4c,?
3,MARBREE (BLANCHE / BLEUE),5a+,SOREN</textarea>
    </div>
    <div>
        <button type="submit">Génère le fichier PDF avec les étiquettes</button>
    </div>
    <p>Pour plus de personnalisation, je vous recommander d'éditer le fichier PDF avec le <a href="https://inkscape.org/">logiciel de dessin vectoriel Inkscape</a>. Les disques sont compatibles avec les plaques de protection plexiglas de la boutique 9c+ (désormais fermée). Il doit être possible d'en commander sur mesure sur un site comme <a href="https://www.plaque-plexiglass.fr">https://www.plaque-plexiglass.fr</a></p>
</form>
{% endblock %}
